* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: #426696;
    font-weight: 600;
    font-size:3rem;
    opacity: 0.8;
}
h2,
p{
    color: #658ec6;
    font-weight: 500;
    opacity: 0.8;
}
h3{
    color: #426696;
    font-weight: 600;
    opacity: 0.8;
}

main {
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb); /*background fow whole site*/
    display: flex !important;
    align-items: center!important;
    justify-content: center!important;
}
.glass{
    background: white;
    width: 60%;
    height: 80vh;
    background: linear-gradient(to right bottom,
                                rgba(255, 255, 255, 0.7),
                                rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
    box-shadow: 3px 3px 0.5px 0.25px rgba(255, 255, 255, .1);
    z-index: 999999;
    backdrop-filter: blur(3rem);
    display: flex;
}
.circle1,
.circle2 {
    background: white;
    background: linear-gradient(to right bottom,
                                rgba(255, 255, 255, 0.8),
                                rgba(255, 255, 255, 0.3));
    height: 20rem;
    width: 20rem;
    position: absolute;
    border-radius: 50%;
}
.circle1{
    background-color: red;
    top: 5%;
    right: 15%;
}

.circle2{
    bottom: 5%;
    left: 10%;
}
.dashboard{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(to right bottom,
                                rgba(255, 255, 255, 0.7),
                                rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
}
.link{
    display: flex;
    margin: 2rem 0rem;
    padding: 1rem 5rem;
    align-items: center;
}
.link h2{
    padding: 0rem 2rem;
}
.pro{
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    border-radius: 2rem;
    color: white;
    padding: 1rem;
    display: flex;
    position: relative;
}

.pro img{
    position: absolute;
    top: -28%;
    right: 10%;
}
.pro h2{
    width: 40%;
    color: white;
    font-weight:600;
}
/*Expenses status*/
.status {
    margin-bottom: 3rem;
}
.status input{
    background: linear-gradient(to right bottom,
                                rgba(255, 255, 255, 0.7),
                                rgba(255, 255, 255, 0.3));
    border: none;
    width: 50%;
    padding: 0.5rem;
    border-radius: 2rem;
}
.games{
    flex: 2;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 5rem;
}

.card{
    display: flex;
    background: linear-gradient(to left top, 
                                rgba(255, 255, 255, 0.8), 
                                rgba(255, 255, 255,0.5));
    border-radius: 1rem;
    margin: 2rem 0rem;
    padding: 2rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
    justify-content: space-between;
}
.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.percentage{
    font-weight: bold;
}
